body{
    background-color: #E9EFEC ;
    margin: 0;
}

.bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
   position: sticky;
   top: 0px;
   z-index: 99;
   background-color: #c4dad2 ;
   border-bottom: 3px solid #6a9c89;
   
  
  }
  .bar #logo {
    width: 200px;
    height: 100px;
  }
  .bar .buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
  }
  .bar .buttons .fa-bell{
    font-size: 28px;
    color: #16423c;
    cursor: pointer;
  }
  .search-div {
    display: flex;
    align-items: center;
    background-color: #E9EFEC;
    border-radius: 10px;
    font-size: 24px;
  }
  .search-div #search-input {
    background-color: #E9EFEC;
    border-radius:10px;
    height: 44px;
    font-size: 32px;
    font-weight: 500;
    border: none;
  }
  .search-div #search-input:focus {
    outline: none;
  }
  
  .search-div #search-btn {
    background-color: #E9EFEC;
    border: none;
    border-radius: 10px;
    font-size: 32px;
    height: 44px;
  }
  .search-div i:hover {
    color: green;
  }
  .search-div:focus {
    border: 3px solid green;
  }
  
  .bar .registration button {
    background-color: #6a9c89;
    border-radius: 7px;
    border: none;
    height: 40px;
    width: 60px;
  }
  .bar .registration button:hover {
    border: 3px solid green;
  }
  
  .navbar{
    position: sticky;
    top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
  justify-content: start;
  gap:14px;
    background-color: #16423C;
    height: 30px;
    padding-left: 5px;
  }
  .navbar a{
    color: white;
    text-decoration: none;
    
  }
  .navbar a:hover,
  .navbar i:hover{
    color:#6a9c89;
   transition: ease;
  
  }
  
.logincard,
.signincard{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.logincard h1,
.signincard h1{
    color:green
}

.card{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 350px;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    border: 2px solid green;
background-color: #6A9C89;
margin-bottom: 200px;
}
.card input{
    border-radius: 20px;
    border: 2px solid green;
    height: 25px;
    width: 190px;
    background-color: rgb(220, 248, 220);
}
.card input:focus{
    outline: none;
    
}
.card button{
    border-radius: 20px;
    border: 2px solid green;
    height: 25px;
    width: 80px;
    transition: 0.2s;
}
.card .button{
    text-decoration: none;
    border-radius: 20px;
    border: 2px solid green;
    width: 70px;
    text-align: center;
    color: green;
    background-color: rgb(220, 248, 220);

}
.card .button:hover,
.card button:hover{
    border: 3px solid darkgreen;
    color: darkgreen;
    transition: 0.1s;
}
.card a{
    color: black;
    text-decoration: none;
}
.card a:visited{
color: black;
}
.card a:hover{
    color: #C4DAD2;
}

@media only screen and (max-width: 625px) {
    .search-div #search-input{
        display: none;
    }
  }